{{define "footer"}}
</div>
</main>
  <footer>
    <div class="text-bg-primary py-5 text-center">
      <p>&copy; 2024 <a href="https://github.com/cloudwego" class="text-reset">CloudWeGo</a></p>
    </div>
  </footer>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
{{end}}