{{define "footer"}}
</div>
</main>
  <footer>
    <div class="text-bg-primary py-5 text-center">
      <p>&copy; zjhM3l go-e-commerce <a href="https://github.com/zjhM3l/go-e-commerce" class="text-reset">SourceCode</a></p>
    </div>
  </footer>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
{{end}}